<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>mvvm</title>
</head>

<body>
    <div id="app">
        <input v-model="school.name">
        <p>{{school.name}}</p>
        {{school.age}} {{school.grade}}
        <!--<input v-model="school.age">-->
        <!--<p>{{school.age}}</p>-->
        <!--<p>{{school.grade}}</p>-->
        <!--<p>{{getNewName}}</p>-->
        <ul>
            <li>1</li>
            <li>2</li>
            <li>{{school.name}}</li>
        </ul>
    </div>
    <script src="./MVVM.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                school: {
                    name: '珠峰',
                    age: 18,
                    grade: '高三'
                }
            }
        })
        console.log(vm)
    </script>
</body>

</html>